@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model booktest.Models.Remark
<br />
<br />
<br />
<h3>评论区</h3>

<div>
    <h4>Remark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

</div>


