@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

<h3>
    评论区
</h3>

<div>
    <ol>
        <li>@Html.ActionLink("查看评论", "ShowRemark")</li> //这里地址有点问题要改！
        

        <li>@Html.ActionLink("添加评论","AddRemark")</li>  //这里地址有问题要改！
    </ol>
</div>



