@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<form id="LogIn form" action="LogIn" method="post">
    <div id="head">
        <ul>
            <li>
                用户名：<input id="UserName" name="UserName" type="text" />
            </li>
            <li>
                密码：<input id="Password" name="Password" type="password" />
            </li>
        </ul>
    </div>
    <div id="body">
        <input id="Submit" type="submit" value="submit" onclick="return sunbI()" />
    </div>
</form>   


