<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Victory Pro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href="css/ihover.css" rel="stylesheet" media="all">
<link href="css/hover_pack.css" rel="stylesheet" media="all">
<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
<script src="js/hover_pack.js"></script>
</head>
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="logo">
			<h1>
				<a href="index.html">
					<span class="glyphicon glyphicon-education" aria-hidden="true"></span>VICTORY PRO	
					<i>Is in your hand</i>
				</a>
			</h1>
		</div>
		<div class="logo-right">
			<p>Call Us <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><i>+0978 789 000</i></p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner">
	<div class="container">
	<!-- navigation -->
		<div class="navigation">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li class="hvr-underline-from-left button2 active"><a class="scroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#about">ABOUT</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#services">Services</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#gallery">GALLERY</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#contact">Contact Us</a></li>
					  </ul>
					<div class="search">
						<!-- start search-->
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						<!-- search-scripts -->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->

					</div>
				  <div class="clearfix"></div>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	<!-- //navigation -->
		<div class="banner-info">
			<script src="js/responsiveslides.min.js"></script>
			<script>
									// You can also use "$(window).load(function() {"
									$(function () {
									 // Slideshow 4
									$("#slider3").responsiveSlides({
										auto: true,
										pager: true,
										nav: true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
										}
										});
										});
			</script>
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3>PREPARING STUDENTS FOR SUCCESSFUL FORTUNE</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>LOOKING FOR ACTIVITIES? WE HAVE GOT WHAT YOU NEED</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>MAKE YOUR DREAMS COMES TRUE AT VICTORY PRO</h3>
							
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="more-button">
			<a href="#about" class="hvr-rectangle-out button scroll">SEE MORE ABOUT US</a>
		</div>
	</div>
</div>
<!-- //banner -->
<!--banner-bottom-->
<div class="banner-bottom">
	<div class="container">
		<h3 class="tittle">WELCOME TO OUR VICTORY PRO</h3>
		<div class="col-md-3 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/30.jpg" alt="img"></div>
                      <div class="info">
                        <h4>VICTORY PRO</h4>
                        <p>Description goes here</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-3 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/31.jpg" alt="img"></div>
                      <div class="info">
                        <h4>VICTORY PRO</h4>
                        <p>Description goes here</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-3 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/32.jpg" alt="img"></div>
                      <div class="info">
                        <h4>VICTORY PRO</h4>
                        <p>Description goes here</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-3 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/39.jpg" alt="img"></div>
                      <div class="info">
                        <h4>VICTORY PRO</h4>
                        <p>Description goes here</p>
                      </div>
					</a>
				</div>
		</div>
	</div>
</div>
<!--//banner-bottom-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="tittle">ABOUT</h3>
		<div class="about-grids">
			<div class="col-md-7 about-left-one">
				<img src="images/11.jpg" alt="" />
			</div>
			<div class="col-md-5 about-left-two">
				<h4>TEMPORIBUS AUTEM QUIBUSDAM ET AUT OFFICIIS</h4>
				<p>Nam libero tempore, cum soluta nobis est 
				eligendi optio cumque nihil impedit quo minus 
				id quod maxime placeat facere possimus, 
				omnis voluptas assumenda est, omnis dolor repellendus.  
				Itaque earum rerum hic 
				tenetur a sapiente delectus, ut aut reiciendis 
				voluptatibus maiores alias consequatur 
				aut perferendis doloribus asperiores repellat.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="about-grids">
			<div class="col-md-5 about-right-one text-right">
				<h4>TEMPORIBUS AUTEM QUIBUSDAM ET AUT OFFICIIS</h4>
				<p>Nam libero tempore, cum soluta nobis est 
				eligendi optio cumque nihil impedit quo minus 
				id quod maxime placeat facere possimus, 
				omnis voluptas assumenda est, omnis dolor repellendus.  
				Itaque earum rerum hic 
				tenetur a sapiente delectus, ut aut reiciendis 
				voluptatibus maiores alias consequatur 
				aut perferendis doloribus asperiores repellat.</p>
			</div>
			<div class="col-md-7 about-right-two">
				<img src="images/111.jpg" alt="" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//about-->
<!--special-->
<div class="special">
	<div class="container">
		<h3 class="tittle">SPECIALIZATIONS</h3>
		<h2>WE WILL OPEN THE WORLD OF KNOWLEDGE FOR YOU</h2>
	</div>
</div>
<!--//special-->
<!--services-->
<div id="services" class="services">
	<div class="container">
		<h3 class="tittle">SERVICES</h3>
		<div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-education"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div>
		<div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-star"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div>
		<div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-map-marker"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div>
		<div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-pencil"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//services-->
<!--gallery-->
<div id="gallery" class="gallery">
	<div class="container">
		<h3 class="tittle t-two">GALLERY</h3>
		 <script src="js/lightbox.js"></script>
		<div class="col-md-4 gallery-grid">
			<a href="images/g1.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g1.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g2.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g2.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g3.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g3.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g4.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g4.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g5.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g5.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g6.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g6.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g7.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g7.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g8.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g8.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g2.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g2.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">VICTORY PRO</h4>
					<p class="b-from-right b-animate b-delay03">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				  </div>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//gallery-->
<!-- subscribe -->
	<div class="get-in-grids">
		<div class="container">
			<h3 class="tittle">SUBSCRIBE IN YOUR NEWSLETTER</h3>
				<div class="get-in-grid-right">
					<input type="text" value="Enter Your Mail..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Mail...';}" required="">
					<input type="submit" value="SUBSCRIBE" >
				</div>
		</div>
	</div>
<!-- //subscribe -->
<!-- footer -->
<div id="contact" class="footer-map">
	
		<div class="footer-left">
			<div class="map">
				<iframe src=""></iframe>
			</div>
			<div class="map-color">
				<h3 class="tittle t-three">CONTACT</h3>
				<ul>
						<li class="dot"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>BD 2 Mars, N° 136, Morocco Casablanca</li>
						<li class="mobile"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+212 522 275 386</li>
						<li class="mes"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
				</ul>
				<ul class="fb-icons">
					<li><a href="#" class="f1"></a></li>
					<li><a href="#" class="f2"></a></li>
					<li><a href="#" class="f3"></a></li>
					<li><a href="#" class="f4"></a></li>
				</ul>
			</div>
		</div>
		<div class="footer-right">
			<h3 class="tittle t-three">CONTACT FORM</h3>
			<form>
				<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
				<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required>Message</textarea>
				<input type="submit" value="SEND">
			</form>
		</div>
		<div class="clearfix"> </div>
</div>
<!-- //footer -->
<!--footer-bottom-->
	<div class="footer-bottom">
		<div class="container">		
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>	
			
		</div>
	</div>
<!--//footer-->	
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>